/* ⁡⁣⁢⁣​‌‌‍section 2​⁡*/
.sec-2 {
    height: 110vh;
    width: 100%;
    background: $whity;
}

.d-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.num {
    margin-top: 30%;
    position: absolute;
    background-color: $whity;
    height: 130px;
    width: 480px;
    margin-left: 13%;
}

.learnmore {
    font-family: Amatic SC;
}

.sec2img {
    width: 40%;
    height: 615px;
    margin-left: 150px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.abt {
    color: $gray-bg;
}

.txt {
    margin-bottom: 310px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 30px;
}

.txt p {
    margin: 0;
    padding: 5px;
}

.abt2 {
    height: 330px;
    width: 490px;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.abt2 {
    margin-top: 3rem;
    margin-right: 250px;
    position: relative;
}

.abt2 img {
    display: block;
    margin: 0 auto;
}

.play-icon {
    height: 55px;
    width: 55px;
    background-color: $red-baby;
    border-radius: 7cm;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

.play-icon:hover i {
    transform: scale(2.7);
}

.hidden {
    display: none;
}

#exit-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color: $whity;
    cursor: pointer;
    z-index: 3;
}

.red-element {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $red-baby;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: width 0.2s ease, height 0.2s ease;
}

.play-icon:hover+.red-element {
    width: 3cm;
    height: 3cm;
}

video {
    position: absolute;
    top: 50%;
    right: 99%;
    transform: translate(50%, -50%);
    z-index: 2;
    width: 700px;
    height: 700px;
    max-width: 100%;
    max-height: 100%;
}

//* ⁡⁣⁢⁣​‌‌‍section 3​⁡*//
.sec-3 {
    height: 60vh;
    width: 100%;
    background-color: $gray-bg;
}

.sec-3 img {
    width: 50px;
    height: 50px;
}

.bg-danger-alpha {
    background-color: rgba(235, 135, 145, 0.609);
}

.card {
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.btn3:hover {
    background-color: white !important;
    color: $red-baby;
}

//*  ​‌‌‍⁡⁣⁢⁣section 4⁡​*// 
.sec-4 {
    height: 300px;
    background-image: url(../../../../public/img/about.jpg);
}

//*​‌‌‍⁡⁣⁢⁣section 5⁡​*//
.section-5 {
    height: 140vh;
    overflow-y: none;
}

.menu {
    font-family: Amatic SC;
    font-size: 37px;
}

.tablist {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.tablist li {
    border-bottom: 2px solid gray;
    margin: 0 10px;
    padding-bottom: 5px;
    color: gray;
    cursor: pointer;
}

.tablist li:hover {
    color: red;
    border-bottom-color: red;
}

.tab-content {
    display: none;
    justify-content: center;
    margin-top: 20px;
}

.tab-content img {
    width: 220px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.tab-content h4,
.tab-content p,
.tab-content span {
    text-align: center;
}

.tab-content p.price {
    margin-top: 5px;
}

.price {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.tab-content.active {
    display: flex;
}

//*  ⁡⁣⁢⁣​‌‌‍SECTION 6​⁡**/ 
.sec-six {
    height: 90vh;
    background-color: $gray-bg;
}

#carou-1 .carousel-inner {
    max-width: 400px;
    margin: 0 auto;
}

#carou-1 .carousel-inner .item img {
    max-width: 100%;
    height: auto;
}

#carou-1 .carousel-indicators {
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
}

#carou-1 .carousel-indicators li {
    background-color: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

#carou-1 .carousel-indicators .active {
    background-color: red;
}


.share {
    font-family: Amatic SC;
}

.share {
    font-family: Amatic SC;
}

//*⁡⁣⁢⁣​‌‌‍section 7⁡​ *//
.sec-7 {
    height: 100vh;

}

//* ​‌‌‍⁡⁣⁢⁣section 8​⁡​*//
.sec-8 {
    height: 100vh;
}

.btnstay {

    border-style: none;
    border-radius: 25px;
}


//* ​‌‌‍⁡⁣⁢⁣Section 9⁡​⁡*//
.sec-9 {
    height: 70vh;
    background-color: $gray-bg;
}
#myCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: $gray-bg;
}

#myCarousel .carousel-inner {
    text-align: center;
}

#myCarousel .carousel-inner .item img {
    display: inline-block;
    border: 10px solid gray;
    width: 300px;
    height: 300px;
}

#myCarousel .carousel-indicators li {
    background-color: gray;
}

#myCarousel .carousel-indicators .active {
    background-color: red;
}

#myCarousel .carousel-control {
    bottom: 20px;
}

#myCarousel .carousel-control.left {
    left: 20px;
}

#myCarousel .carousel-control.right {
    right: 20px;
}




.sec-10 {
    height:1000px;
}

.contact-parent {
    margin-left: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #ccc;
    margin: 0 10px;
}

.map-container {
margin-top: 30px;
    margin-left: 150px;
    width: 80%;
    height: 400px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin-right: 164px;
}